.contacts{
    display: flex;
    width: 340px;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}

.contactsButton{
    background-color: rgba(255, 0, 0, 0.332);
    color: white;
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactsButton:hover{
    background-color: rgba(255, 0, 0, 0.737);
}
.contactsListElement{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    height: 30px;
    cursor: pointer;
    width: 80%;
    margin: 0;
    padding: 2px;
    border-bottom: 1px solid gray
}
